In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

data = pd.read_csv (r'RKI_COVID19.csv')

In [26]:
data.head()

,FID,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,43821735,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/09/30 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/30 00:00:00,1,1,0,Nicht übermittelt
1,43821736,1,Schleswig-Holstein,SK Flensburg,A00-A04,W,1,0,2020/08/24 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/08/24 00:00:00,0,1,0,Nicht übermittelt
2,43821737,1,Schleswig-Holstein,SK Flensburg,A00-A04,W,1,0,2020/09/26 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/26 00:00:00,0,1,0,Nicht übermittelt
3,43821738,1,Schleswig-Holstein,SK Flensburg,A05-A14,M,1,0,2020/09/25 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/21 00:00:00,0,1,1,Nicht übermittelt
4,43821739,1,Schleswig-Holstein,SK Flensburg,A05-A14,M,1,0,2020/09/26 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/21 00:00:00,0,1,1,Nicht übermittelt

In [43]:
ct_df = data[["AnzahlFall", "Meldedatum"]]
ct_df[["Date","Uhrzeit"]] = ct_df["Meldedatum"].str.split(" ", expand = True)
ct_df["Date"]= pd.DatetimeIndex(ct_df['Date']) 
ct_df_sum = ct_df.groupby("Date").sum()  

date_column = pd.Series(np.arange(ct_df.min().Date, ct_df.max().Date, dtype='datetime64[D]')) 
step0 = date_column.to_frame().rename(columns={0:"Date"})
step0.reset_index(drop = True).set_index("Date")

step1 = (pd.merge(step0, ct_df, how="outer",left_on="Date", right_on="Date")).set_index("Date")
del step1["Uhrzeit"]
step1

            AnzahlFall           Meldedatum
Date
2020-01-28         1.0  2020/01/28 00:00:00
2020-01-28         1.0  2020/01/28 00:00:00
2020-01-29         1.0  2020/01/29 00:00:00
2020-01-29         1.0  2020/01/29 00:00:00
2020-01-30         NaN                  NaN
...                ...                  ...
2020-10-13         1.0  2020/10/13 00:00:00
2020-10-13         1.0  2020/10/13 00:00:00
2020-10-13         1.0  2020/10/13 00:00:00
2020-10-13         1.0  2020/10/13 00:00:00
2020-10-13         1.0  2020/10/13 00:00:00

[261259 rows x 2 columns]