In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

data = pd.read_csv (r'RKI_COVID19.csv')

In [26]:
data.head()

,FID,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,43821735,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/09/30 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/30 00:00:00,1,1,0,Nicht übermittelt
1,43821736,1,Schleswig-Holstein,SK Flensburg,A00-A04,W,1,0,2020/08/24 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/08/24 00:00:00,0,1,0,Nicht übermittelt
2,43821737,1,Schleswig-Holstein,SK Flensburg,A00-A04,W,1,0,2020/09/26 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/26 00:00:00,0,1,0,Nicht übermittelt
3,43821738,1,Schleswig-Holstein,SK Flensburg,A05-A14,M,1,0,2020/09/25 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/21 00:00:00,0,1,1,Nicht übermittelt
4,43821739,1,Schleswig-Holstein,SK Flensburg,A05-A14,M,1,0,2020/09/26 00:00:00,1001,"14.10.2020, 00:00 Uhr",0,-9,2020/09/21 00:00:00,0,1,1,Nicht übermittelt

In [39]:
ct_df = data[["AnzahlFall", "Meldedatum"]]
ct_df[["Date","Uhrzeit"]] = ct_df["Meldedatum"].str.split(" ", expand = True)
ct_df["Date"]= pd.DatetimeIndex(ct_df['Date']) 
ct_df_sum = ct_df.groupby("Date").sum()  

date_column = pd.Series(np.arange(ct_df.min().Date, ct_df.max().Date, dtype='datetime64[D]')) 
step0 = date_column.to_frame().rename(columns={0:"Date"})
step0.reset_index(drop = True).set_index("Date")

step1 = (pd.merge(step0, ct_df, how="outer",left_on="Date", right_on="Date")).set_index("Date")

0     2020-01-28
1     2020-01-29
2     2020-01-30
3     2020-01-31
4     2020-02-01
         ...
254   2020-10-08
255   2020-10-09
256   2020-10-10
257   2020-10-11
258   2020-10-12
Length: 259, dtype: datetime64[ns]

Empty DataFrame
Columns: []
Index: [2020-01-28 00:00:00, 2020-01-29 00:00:00, 2020-01-30 00:00:00, 2020-01-31 00:00:00, 2020-02-01 00:00:00, 2020-02-02 00:00:00, 2020-02-03 00:00:00, 2020-02-04 00:00:00, 2020-02-05 00:00:00, 2020-02-06 00:00:00, 2020-02-07 00:00:00, 2020-02-08 00:00:00, 2020-02-09 00:00:00, 2020-02-10 00:00:00, 2020-02-11 00:00:00, 2020-02-12 00:00:00, 2020-02-13 00:00:00, 2020-02-14 00:00:00, 2020-02-15 00:00:00, 2020-02-16 00:00:00, 2020-02-17 00:00:00, 2020-02-18 00:00:00, 2020-02-19 00:00:00, 2020-02-20 00:00:00, 2020-02-21 00:00:00, 2020-02-22 00:00:00, 2020-02-23 00:00:00, 2020-02-24 00:00:00, 2020-02-25 00:00:00, 2020-02-26 00:00:00, 2020-02-27 00:00:00, 2020-02-28 00:00:00, 2020-02-29 00:00:00, 2020-03-01 00:00:00, 2020-03-02 00:00:00, 2020-03-03 00:00:00, 2020-03-04 00:00:00, 2020-03-05 00:00:00, 2020-03-06 00:00:00, 2020-03-07 00:00:00, 2020-03-08 00:00:00, 2020-03-09 00:00:00, 2020-03-10 00:00:00, 2020-03-11 00:00:00, 2020-03-12 00:00:00, 2020-03-13 00:00:00, 2020-03-14 00:00:00, 2020-03-15 00:00:00, 2020-03-16 00:00:00, 2020-03-17 00:00:00, 2020-03-18 00:00:00, 2020-03-19 00:00:00, 2020-03-20 00:00:00, 2020-03-21 00:00:00, 2020-03-22 00:00:00, 2020-03-23 00:00:00, 2020-03-24 00:00:00, 2020-03-25 00:00:00, 2020-03-26 00:00:00, 2020-03-27 00:00:00, 2020-03-28 00:00:00, 2020-03-29 00:00:00, 2020-03-30 00:00:00, 2020-03-31 00:00:00, 2020-04-01 00:00:00, 2020-04-02 00:00:00, 2020-04-03 00:00:00, 2020-04-04 00:00:00, 2020-04-05 00:00:00, 2020-04-06 00:00:00, 2020-04-07 00:00:00, 2020-04-08 00:00:00, 2020-04-09 00:00:00, 2020-04-10 00:00:00, 2020-04-11 00:00:00, 2020-04-12 00:00:00, 2020-04-13 00:00:00, 2020-04-14 00:00:00, 2020-04-15 00:00:00, 2020-04-16 00:00:00, 2020-04-17 00:00:00, 2020-04-18 00:00:00, 2020-04-19 00:00:00, 2020-04-20 00:00:00, 2020-04-21 00:00:00, 2020-04-22 00:00:00, 2020-04-23 00:00:00, 2020-04-24 00:00:00, 2020-04-25 00:00:00, 2020-04-26 00:00:00, 2020-04-27 00:00:00, 2020-04-28 00:00:00, 2020-04-29 00:00:00, 2020-04-30 00:00:00, 2020-05-01 00:00:00, 2020-05-02 00:00:00, 2020-05-03 00:00:00, 2020-05-04 00:00:00, 2020-05-05 00:00:00, 2020-05-06 00:00:00, ...]

[259 rows x 0 columns]